In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import re

In [2]:
# import dataset
df = pd.read_excel("doc1.xlsx")
df.head(5)

                  date   value
0  1990-01-01 00:00:00  24.166
1  1990-01-01 00:15:00  21.477
2  1990-01-01 00:30:00  18.144
3  1990-01-01 00:45:00  20.350
4  1990-01-01 01:00:00  22.443

In [3]:
df['merge'] = df['date'].map(str) + ';'+ df['value'].map(str)
print(df)

                      date   value                       merge
0      1990-01-01 00:00:00  24.166  1990-01-01 00:00:00;24.166
1      1990-01-01 00:15:00  21.477  1990-01-01 00:15:00;21.477
2      1990-01-01 00:30:00  18.144  1990-01-01 00:30:00;18.144
3      1990-01-01 00:45:00  20.350   1990-01-01 00:45:00;20.35
4      1990-01-01 01:00:00  22.443  1990-01-01 01:00:00;22.443
...                    ...     ...                         ...
35035       12/31/90 22:45  42.777       12/31/90 22:45;42.777
35036       12/31/90 23:00  34.759       12/31/90 23:00;34.759
35037       12/31/90 23:15  35.001       12/31/90 23:15;35.001
35038       12/31/90 23:30  31.089       12/31/90 23:30;31.089
35039       12/31/90 23:45  22.990        12/31/90 23:45;22.99

[35040 rows x 3 columns]

In [10]:
df.to_csv("doc.csv")